<%- include ("partials/header")%>
    <img src="<%=icon%>" alt="">
    <h5>Location:
        <strong>
         <%=city%>
        </strong>
        </h5>
    <h5>Temperature:
    <strong>
        <%=temp%>°C
    </strong>
    </h5>
    
    <h5 class="weather">Weather: 
    <strong>
        <%=weather%>
    </strong>
    </h5>
    <br>

<%- include ("partials/footer")%>